<a href="https://colab.research.google.com/github/AnnaKraim/ML/blob/main/fifa_dz_shp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json
with open('fifa_data.json','r') as f:
  data = json.loads(f.read())
df = pd.DataFrame(data['matches'])
df.head()
df.iloc[1]['home_team_statistics']

{'attempts_on_goal': 8,
 'ball_possession': 43,
 'balls_recovered': 57,
 'blocked': 2,
 'clearances': 32,
 'corners': 0,
 'country': 'Egypt',
 'distance_covered': 112,
 'fouls_committed': 12,
 'num_passes': 395,
 'off_target': 3,
 'offsides': 1,
 'on_target': 3,
 'pass_accuracy': 78,
 'passes_completed': 308,
 'red_cards': 0,
 'starting_eleven': [{'captain': False,
   'name': 'MOHAMED ELSHENAWY',
   'position': 'Goalie',
   'shirt_number': 23},
  {'captain': False,
   'name': 'ALI GABR',
   'position': 'Defender',
   'shirt_number': 2},
  {'captain': False,
   'name': 'AHMED HEGAZY',
   'position': 'Defender',
   'shirt_number': 6},
  {'captain': True,
   'name': 'AHMED FATHI',
   'position': 'Defender',
   'shirt_number': 7},
  {'captain': False,
   'name': 'TAREK HAMED',
   'position': 'Midfield',
   'shirt_number': 8},
  {'captain': False,
   'name': 'MARWAN MOHSEN',
   'position': 'Forward',
   'shirt_number': 9},
  {'captain': False,
   'name': 'MOHAMED ABDELSHAFY',
   'position': 'Defender',
   'shirt_number': 13},
  {'captain': False,
   'name': 'MOHAMED ELNENY',
   'position': 'Midfield',
   'shirt_number': 17},
  {'captain': False,
   'name': 'ABDALLA SAID',
   'position': 'Midfield',
   'shirt_number': 19},
  {'captain': False,
   'name': 'TREZIGUET',
   'position': 'Midfield',
   'shirt_number': 21},
  {'captain': False,
   'name': 'AMR WARDA',
   'position': 'Forward',
   'shirt_number': 22}],
 'substitutes': [{'captain': False,
   'name': 'ESSAM ELHADARY',
   'position': 'Goalie',
   'shirt_number': 1},
  {'captain': False,
   'name': 'AHMED ELMOHAMADY',
   'position': 'Defender',
   'shirt_number': 3},
  {'captain': False,
   'name': 'OMAR GABER',
   'position': 'Midfield',
   'shirt_number': 4},
  {'captain': False,
   'name': 'SAM MORSY',
   'position': 'Midfield',
   'shirt_number': 5},
  {'captain': False,
   'name': 'MOHAMED SALAH',
   'position': 'Forward',
   'shirt_number': 10},
  {'captain': False,
   'name': 'KAHRABA',
   'position': 'Forward',
   'shirt_number': 11},
  {'captain': False,
   'name': 'AYMAN ASHRAF',
   'position': 'Defender',
   'shirt_number': 12},
  {'captain': False,
   'name': 'RAMADAN SOBHY',
   'position': 'Forward',
   'shirt_number': 14},
  {'captain': False,
   'name': 'MAHMOUD HAMDY',
   'position': 'Defender',
   'shirt_number': 15},
  {'captain': False,
   'name': 'SHERIF EKRAMY',
   'position': 'Goalie',
   'shirt_number': 16},
  {'captain': False,
   'name': 'SHIKABALA',
   'position': 'Forward',
   'shirt_number': 18},
  {'captain': False,
   'name': 'SAMIR SAAD',
   'position': 'Defender',
   'shirt_number': 20}],
 'tackles': 12,
 'tactics': '4-2-3-1',
 'woodwork': 0,
 'yellow_cards': 2}

1. Посчитайте количество проданных билетов на все матчи ЧМ 2018(количество зрителей)

In [ ]:
df['attendance'] = df['attendance'].astype(int)
df['attendance'].sum()

3031768

2. Найдите среднюю температуру воздуха в градусах цельсия с точностью до 2 знаков после запятой.

In [ ]:
def extract(x):
  return int(x['temp_celsius'])
df['temp'] = df['weather'].apply(extract)
df['temp'].describe()['mean']

23.75

3. Найти самый активный матч(по количеству событий).
Ответ введите в формате 
"Хозяева-Гости"

In [ ]:
def extract1 (x):
  return len(x)
df['acts'] = df['home_team_events'].apply(extract1) + df['away_team_events'].apply(extract1)
df[df['acts'] == df['acts'].max()]

     venue         location     status  ...  last_score_update_at temp acts
48   Kazan      Kazan Arena  completed  ...  2018-06-30T17:16:20Z   28   27
55  Moscow  Spartak Stadium  completed  ...  2018-07-03T20:53:13Z   18   27
59   Sochi    Fisht Stadium  completed  ...  2018-07-07T20:51:30Z   24   27

[3 rows x 24 columns]

4. Найти самый пассивный матч(по количеству событий).
Ответ введите в формате 
"Хозяева-Гости"

In [ ]:
df[df['acts'] == df['acts'].min()]

          venue             location  ... temp acts
46  Kaliningrad  Kaliningrad Stadium  ...   21   11

[1 rows x 24 columns]

5. Найдите самый непопулярный матч(по количеству зрителей)
Ответ введите в формате "Хозяева—Гости"

In [ ]:
df[df['attendance'] == df['attendance'].min()]

          venue            location     status  ... last_score_update_at temp acts
1  Ekaterinburg  Ekaterinburg Arena  completed  ...                 None   14   15

[1 rows x 24 columns]

6. Найдите самый популярный матч(по количеству зрителей)

In [ ]:
df[df['attendance'] == df['attendance'].max()]

     venue          location     status  ...  last_score_update_at temp acts
0   Moscow  Luzhniki Stadium  completed  ...                  None   17   20
9   Moscow  Luzhniki Stadium  completed  ...  2018-06-17T16:50:54Z   23   17
17  Moscow  Luzhniki Stadium  completed  ...  2018-06-20T13:55:28Z   20   17
36  Moscow  Luzhniki Stadium  completed  ...  2018-06-26T15:51:55Z   24   13
50  Moscow  Luzhniki Stadium  completed  ...  2018-07-01T16:53:15Z   24   22
61  Moscow  Luzhniki Stadium  completed  ...  2018-07-11T20:37:36Z   21   23
63  Moscow  Luzhniki Stadium  completed  ...  2018-07-15T16:54:32Z   27   22

[7 rows x 24 columns]

7.Найдите команду, которая забила больше всех голов за все время турнира

In [ ]:
goals = {}
def extractGoal(x):
  return x['goals']
df['goals1'] = df['home_team'].apply(extractGoal)
df['goals2'] = df['away_team'].apply(extractGoal)
for i in range(64):
  if (df['home_team_country'][i] in goals): 
    goals[df['home_team_country'][i]] += df['goals1'][i] 
  else: 
    goals[df['home_team_country'][i]] = 0 
for i in range(64): 
  if (df['away_team_country'][i] in goals): 
    goals[df['away_team_country'][i]] += df['goals2'][i] 
  else: 
    goals[df['away_team_country'][i]] = 0 
goals

2

8. Найдите команду, которая забила меньше всех голов за все время.

In [ ]:
goals

{'Argentina': 5,
 'Australia': 2,
 'Belgium': 13,
 'Brazil': 7,
 'Colombia': 5,
 'Costa Rica': 2,
 'Croatia': 12,
 'Denmark': 2,
 'Egypt': 2,
 'England': 6,
 'France': 12,
 'Germany': 2,
 'Iceland': 1,
 'Iran': 2,
 'Japan': 4,
 'Korea Republic': 2,
 'Mexico': 3,
 'Morocco': 2,
 'Nigeria': 1,
 'Panama': 1,
 'Peru': 2,
 'Poland': 1,
 'Portugal': 3,
 'Russia': 6,
 'Saudi Arabia': 0,
 'Senegal': 4,
 'Serbia': 1,
 'Spain': 5,
 'Sweden': 5,
 'Switzerland': 3,
 'Tunisia': 4,
 'Uruguay': 6}

9. Найдите город проведения с самой большой средней температурой за все матчи

In [ ]:
df.groupby('venue')['temp'].mean().idxmax()

'Volgograd'

10. Найдите город проведения с самой маленькой средней температурой за все матчи

In [ ]:
df.groupby('venue')['temp'].mean().idxmin()

'Kaliningrad'

11. Какая была самая популярная расстановка на поле у  команд-хозяев?

In [ ]:
def extract(x):
  return x['tactics']
df['tactics1'] = df['home_team_statistics'].apply(extract)
df['tactics2'] = df['away_team_statistics'].apply(extract)
x = df.groupby('tactics1').size() 
y = df.groupby('tactics2').size()
x

tactics1
3-4-2-1     1
3-4-3       6
3-5-2       5
4-2-3-1    33
4-3-2-1     1
4-3-3       4
4-4-2      10
4-5-1       3
5-4-1       1
dtype: int64

12 . Найдите команду, которая делала меньше всего замен в среднем за игру.

In [ ]:
def extract(x):
  s = 0
  for event in x:
    if 'substitution' in event['type_of_event']:
      s += 1
  return s
df['home_team_subs'] = df['home_team_events'].apply(extract)
df['away_team_subs'] = df['away_team_events'].apply(extract)

x = df.groupby('home_team_country')['home_team_subs'].agg(['size','sum'])
y = df.groupby('home_team_country')['home_team_subs'].agg(['size','sum'])
z = x + y
z['mean'] = z['sum']/z['size']
z.sort_values(by = 'mean')

                   size  sum      mean
home_team_country
Saudi Arabia          2    8  4.000000
Serbia                4   20  5.000000
Denmark               4   20  5.000000
England               4   20  5.000000
Belgium               8   44  5.500000
France               10   56  5.600000
Argentina             4   24  6.000000
Switzerland           2   12  6.000000
Sweden                6   36  6.000000
Senegal               2   12  6.000000
Portugal              4   24  6.000000
Poland                4   24  6.000000
Peru                  2   12  6.000000
Panama                2   12  6.000000
Nigeria               4   24  6.000000
Mexico                2   12  6.000000
Korea Republic        4   24  6.000000
Japan                 4   24  6.000000
Iran                  4   24  6.000000
Iceland               2   12  6.000000
Germany               4   24  6.000000
Egypt                 2   12  6.000000
Costa Rica            2   12  6.000000
Brazil                8   48  6.000000
Australia             2   12  6.000000
Tunisia               2   12  6.000000
Uruguay               8   48  6.000000
Russia                6   40  6.666667
Morocco               2   14  7.000000
Colombia              4   28  7.000000
Spain                 4   28  7.000000
Croatia               6   44  7.333333

14. В каком городе было меньше всего болельщиков ?

In [ ]:
def toint(x):
  return(int(x))
df['attendance'] = df['attendance'].apply(toint)
df.groupby('venue')['attendance'].sum().idxmin()

'Ekaterinburg'